[Enhancement] Truncate DKIM public key in multiple strings

### Classification :

* [ ] Crash/Hang/Data loss
* [ ] WebUI/Usability
* [ ] Serious bug
* [ ] Other bug
* [ ] Feature
* [x] Enhancement

### Rspamd version:

1.6.0

### Description :

After using `rspamadm dkim_keygen` command, when I attempt to create an **DKIM TXT** record with a long string (>255 characters) in it, NSD return an error :

```
nsd-checkzone: error: /zones/db.domain.tld:xx: text string is longer than 255 characters, try splitting it into multiple parts
```

To make things easier for most users, it would be nice if `rspamadm dkim_keygen` command could **truncate the public key in multiple strings** separated by quotes, like `opendkim-genkey` command. 

### Steps to reproduce:

```
rspamadm dkim_keygen \
      --selector="dkim" \
      --domain="domain.tld" \
      --bits=2048 \
      --privkey="/var/mail/dkim/domain.tld/private.key" \
      > /var/mail/dkim/domain.tld/public.key
```

### Expected result :

```
dkim._domainkey IN TXT ( "v=DKIM1; k=rsa; "
	"p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1z8yYdSAA3b76omj704Sdm+kvZManIhFGE3iOYpQeFcCsaRBeW39FC2w2DB5AgUMcr/JpHV7mPeLcdPXhzvywM4TKQYI9p7Xh14C9J6IJnArv1zJKX2jnuUcjd1+qvRrkoZqznvTfNduU/+hKGO0aGMb3rIrTtVLCkJVydLJlw9sPbXBHQYsuu9PLNTOWM+Lz6khW"
        "/JAEUttrmYjkV1UycAVS2JDZnHmWg3xG4KVcb4SbymR+2DrCcqAanY9FH4Hza2uQ7kM9O9NpNEOAkgMjnac9njUE/u+kG9Z4zIo41CY2fXp+2GqEpWkB4VJUli5PEKpf3IwCmkJ98oLKPJlqwIDAQAB" ) ;
```

### Actual result :

```
dkim._domainkey IN TXT ( "v=DKIM1; k=rsa; "
	"p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1z8yYdSAA3b76omj704Sdm+kvZManIhFGE3iOYpQeFcCsaRBeW39FC2w2DB5AgUMcr/JpHV7mPeLcdPXhzvywM4TKQYI9p7Xh14C9J6IJnArv1zJKX2jnuUcjd1+qvRrkoZqznvTfNduU/+hKGO0aGMb3rIrTtVLCkJVydLJlw9sPbXBHQYsuu9PLNTOWM+Lz6khW/JAEUttrmYjkV1UycAVS2JDZnHmWg3xG4KVcb4SbymR+2DrCcqAanY9FH4Hza2uQ7kM9O9NpNEOAkgMjnac9njUE/u+kG9Z4zIo41CY2fXp+2GqEpWkB4VJUli5PEKpf3IwCmkJ98oLKPJlqwIDAQAB" ) ;
```

### Additional information:

```
3.3.  Multiple Strings in a Single DNS Record

   As defined in [RFC1035], Sections 3.3 and 3.3.14, a single text DNS
   record can be composed of more than one string.  If a published
   record contains multiple character-strings, then the record MUST be
   treated as if those strings are concatenated together without adding
   spaces.  For example:

      IN TXT "v=spf1 .... first" "second string..."

   is equivalent to:

      IN TXT "v=spf1 .... firstsecond string..."

   TXT records containing multiple strings are useful in constructing
   records that would exceed the 255-octet maximum length of a
   character-string within a single TXT record.
```
https://tools.ietf.org/html/rfc7208#section-3.3
https://kb.isc.org/article/AA-00356/0/Can-I-have-a-TXT-or-SPF-record-longer-than-255-characters.html

Thank you for implementing this ! :+1: 