Problem with SPF

I received SPAM emails with incorect "Symbol: R_SPF_ALLOW (-1.10)"
rspamd (1.0.6) + postfix (rmilter)
Example:

1) header from problem emails:
Received: from kiolope.co.ua (unknown [95.215.108.229])
	by kiolope.co.ua (Postfix) with ESMTPA id 92376120925;
	Mon, 26 Oct 2015 10:02:05 +0200 (EET)
Message-ID: <aae601d10fd5$7e4b4d90$fc8e09c1@itpexqq>
Reply-To: "=?windows-1251?B?wC3l6+Xq8vDu?=" <itpexqq@kiolope.co.ua>
From: "=?windows-1251?B?wC3l6+Xq8vDu?=" <itpexqq@kiolope.co.ua>

2) #dig kiolope.co.ua TXT
; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.37.rc1.el6_7.4 <<>> kiolope.co.ua TXT
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 45806
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 3, ADDITIONAL: 0
;; QUESTION SECTION:
;kiolope.co.ua.                 IN      TXT
;; ANSWER SECTION:
kiolope.co.ua.          6825    IN      TXT     "v=spf1 a mx -all"

3)  Check rspamc:
#echo "test" | rspamc -i 95.215.108.229 -F 'itpexqq@kiolope.co.ua'
Results for file: stdin (0.138 seconds)
[Metric: default]
Spam: false
Score: 8.19 / 100.00
Action: add header
Symbol: MISSING_MID (3.00)
Symbol: FORGED_SENDER (0.30)
Symbol: ONCE_RECEIVED (1.00)
Symbol: MISSING_TO (2.00)
Symbol: MISSING_SUBJECT (2.00)
Symbol: R_SPF_ALLOW (-1.10)[a]
Symbol: MISSING_DATE (1.00)
Message: (SPF): spf allow
Message-ID: undef

>>Result: Symbol: R_SPF_ALLOW (-1.10)[a]

4)  rspamd.log (level = "debug";)

2015-10-26 12:11:59 #6688(normal) <d03d9f>; spf; parse_spf_a: resolve a kiolope.co.ua
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_add_event: added event: 00000000021DF220, pending 12 events, subsystem: dns resolver
2015-10-26 12:11:59 #6688(normal) <d03d9f>; spf; parse_spf_mx: resolve mx for kiolope.co.ua
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_add_event: added event: 00000000021DF2A0, pending 13 events, subsystem: dns resolver
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DE610, subsystem: dns resolver, pending 13 events
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DEFC0, subsystem: dns resolver, pending 12 events
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DF220, subsystem: dns resolver, pending 11 events
2015-10-26 12:11:59 #6688(normal) <d03d9f>; spf; spf_record_dns_callback: resolve mail.kiolope.co.ua after resolving of MX
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_add_event: added event: 00000000021DF2F0, pending 11 events, subsystem: dns resolver
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_add_event: added event: 00000000021DF340, pending 12 events, subsystem: dns resolver
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DF2A0, subsystem: dns resolver, pending 12 events
2015-10-26 12:11:59 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DF2F0, subsystem: dns resolver, pending 11 events
2015-10-26 12:12:00 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DECB0, subsystem: dns resolver, pending 10 events
2015-10-26 12:12:00 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 00000000021DF060, subsystem: dns resolver, pending 9 events
2015-10-26 12:12:00 #6688(normal) <d03d9f>; task; rspamd_symbols_cache_watcher_cb: finished watcher, 1 symbols waiting
2015-10-26 12:12:00 #6688(normal) <d03d9f>; task; insert_metric_result: symbol R_SPF_ALLOW, score -1.10, metric default, factor: -1.100000
2015-10-26 12:12:00 #6688(normal) <d03d9f>; task; rspamd_session_remove_event: removed event: 0000000000000000, subsystem: spf-plugin, pending 8 events

5) Try online SPF check: 
http://vamsoft.com/support/tools/spf-policy-tester
IP address: 95.215.108.229
Sender: 'itpexqq@kiolope.co.ua'

Test Log:
PARAMETERS
DNS server: 8.8.8.8 (Google Public DNS)
Evaluation time limit: 20 seconds (default, see RFC7208 Section 4.6.4)
Maximum number of void DNS lookups: 2 (default, see RFC7208 Section 4.6.4)
Standards compliance: RFC7208 (April 2014)
 
Test is queued, please wait...
+0 msSPF check starting.
IP: 95.215.108.229
Sender: itpexqq@kiolope.co.ua
Domain: kiolope.co.ua
EHLO/HELO domain:
+0 msRetrieving DNS TXT record for "kiolope.co.ua".
+24 msTXT record found.
Line #1: "v=spf1 a mx -all"
+0 msStarting SPF policy evaluation.
Policy: "v=spf1 a mx -all"
+0 msThe policy passed syntax validation.
+0 msEvaluating SPF mechanisms.
+0 msEvaluating mechanism "a".
Qualifier: "pass"
+0 msNo domain argument is present, using the current domain: "kiolope.co.ua".
+0 msRetrieving DNS A record for "kiolope.co.ua".
+24 msDNS A record found.
Answer #1: "195.211.101.129"
+0 msThe mechanism did not match.
+0 msEvaluating mechanism "mx".
Qualifier: "pass"
+1 msNo domain argument is present, using the current domain: "kiolope.co.ua".
+0 msRetrieving DNS MX record for "kiolope.co.ua".
+24 msMX record found.
Answer #1: "10,mail.kiolope.co.ua"
+0 msRetrieving DNS A record for "mail.kiolope.co.ua".
+24 msA record found.
Answer #1: "195.211.101.129"
+0 msThe mechanism did not match.
+0 msEvaluating mechanism "all".
Qualifier: "fail"
+0 msThe mechanism matched with the "fail" qualifier.
+0 msFinished evaluating SPF mechanisms.
+0 msFinished SPF policy evaluation.
+0 msPolicy evaluation finished with SPF "fail".
TEST SUMMARY
The evaluation completed in 97 ms, with 0 error and 0 warning.
Result: SPF fail
The policy does NOT designate the argument IP as permitted sender.


<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27696258-problem-with-spf?utm_campaign=plugin&utm_content=tracker%2F320726&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F320726&utm_medium=issues&utm_source=github).
</bountysource-plugin>

What A record does your resolver return for `kiolope.co.ua`? I'm unable to replicate this.

1) # dig kiolope.co.ua A
; <<>> DiG 9.8.2rc1-RedHat-9.8.2-0.37.rc1.el6_7.4 <<>> kiolope.co.ua A
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 35700
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0
;; QUESTION SECTION:
;kiolope.co.ua.                 IN      A
;; ANSWER SECTION:
kiolope.co.ua.          2488    IN      A       195.211.101.129

;; Query time: 0 msec
;; SERVER: 127.0.0.1#53(127.0.0.1)
;; WHEN: Mon Oct 26 13:18:00 2015
;; MSG SIZE  rcvd: 47

2) more headers:
Received: from kiolope.co.ua (mail.kiolope.co.ua [195.211.101.129])
	by MY_SERVER (8.13.1/8.13.1) with ESMTP id t9Q8sZXt012853;
	Mon, 26 Oct 2015 10:54:45 +0200
Received: from kiolope.co.ua (unknown [95.215.108.229])
	by kiolope.co.ua (Postfix) with ESMTPA id 92376120925;
	Mon, 26 Oct 2015 10:02:05 +0200 (EET)

It's true - I received from 195.211.101.129 and it'a A, MX record. 
And is SPF correct 8-(
But how can I block such email?
How I can check first received?



Please mention this commit: https://github.com/vstakhov/rspamd/commit/8e4f97d92483aed399621d58f25e718b1b07a077. It looks very relevant to your issue.

to vstakhov - thanks.
I rebuild rpm 1.0.6 with with this patch and have next result:
====== before patch ======:
#echo "test" | rspamc -i 95.215.108.229 -F 'itpexqq@kiolope.co.ua'
Results for file: stdin (0.138 seconds)
[Metric: default]
Spam: false
Score: 8.19 / 100.00
Action: add header
Symbol: MISSING_MID (3.00)
Symbol: FORGED_SENDER (0.30)
Symbol: ONCE_RECEIVED (1.00)
Symbol: MISSING_TO (2.00)
Symbol: MISSING_SUBJECT (2.00)
Symbol: R_SPF_ALLOW (-1.10)[a]
Symbol: MISSING_DATE (1.00)
Message: (SPF): spf allow
Message-ID: undef

====== after patch ======:
# echo "test" | rspamc -i 95.215.108.229 -F 'itpexqq@kiolope.co.ua'
Results for file: stdin (0.638 seconds)
[Metric: default]
Spam: false
Score: 10.30 / 15.00
Action: add header
Symbol: MISSING_SUBJECT (2.00)
Symbol: MISSING_DATE (1.00)
Symbol: MISSING_TO (2.00)
Symbol: MISSING_MID (3.00)
Symbol: ONCE_RECEIVED (1.00)
Symbol: R_SPF_FAIL (1.00)[all]
Symbol: FORGED_SENDER (0.30)
Message: (SPF): spf fail
Message-ID: undef


And more question.
If SPF to work  correct each email should be have R_SPF_X headers. It's correct?
Or Symbol: R_SPF_FAIL or Symbol: R_SPF_ALLOW or other R_SPF_X.
But I checked history and only 60% of received emails have R_SPF_X headers, other 40% not have any R_SPF_X headers.


That 40% of domains have no SPF records at all, I guess.

to moisseev: thanks.