Bad SPF command...

While watching rspam's logs, I saw something come in from Barracuda Networks.

```txt
2016-01-14 04:02:48 #4189(normal) <097df2>; task; accept_socket: accepted connection from 127.0.0.1 port 32568
2016-01-14 04:02:48 #4189(normal) <097df2>; task; rspamd_message_parse: loaded message; id: <20160114120242.82F27A60742@web1.rzc.barracudacentral.org>; queue-id: <34A4445B8E9>
2016-01-14 04:02:48 #4189(normal) <097df2>; spf; parse_spf_record: <20160114120242.82F27A60742@web1.rzc.barracudacentral.org>: spf error for domain barracudacentral.org: bad spf command dom=barracudacentral.org
2016-01-14 04:02:49 #4189(normal) <097df2>; task; rspamd_task_write_log: id: <20160114120242.82F27A60742@web1.rzc.barracudacentral.org>, qid: <34A4445B8E9>, ip: 64.235.154.81, from: <info@barracudacentral.org>, (default: F (greylist): [5.53/15.00] [BAYES_HAM,MIME_HEADER_CTYPE_ONLY,HFILTER_HOSTNAME_UNKNOWN,MIME_HTML_ONLY,HFILTER_HELO_IP_A,R_SPF_ALLOW]), len: 1374, time: 810.637239ms real, 14.940000ms virtual, dns req: 39
```

Their SPF record appears to be valid, however:

```txt
% dig +short barracudacentral.org txt
"v=spf1 dom=barracudacentral.org a:mail.barracuda.com mx ip4:206.171.8.129/25 ip4:69.36.252.0/24 ip4:216.129.105.0/24 ip4:64.235.144.0/20 include:sendgrid.net ~all"
```

FYI.

Their SPF record appears to be invalid. I cannot find `dom=` anywhere in SPF RFC document.

Oh, you're right!  I glossed over that.  They even reference it in their knowledge base.  How odd.  Thanks!

https://www.barracuda.com/support/knowledgebase/50160000000H28P

https://dmarcian.com/spf-survey/barracudacentral.org vierd

SPF record lookup and validation for: barracudacentral.org

SPF records are published in DNS as TXT records.

The TXT records found for your domain are:
v=spf1 dom=barracudacentral.org a:mail.barracuda.com mx ip4:206.171.8.129/25 ip4:69.36.252.0/24 ip4:216.129.105.0/24 ip4:64.235.144.0/20 include:sendgrid.net ~all 

Checking to see if there is a valid SPF record. 

Found v=spf1 record for barracudacentral.org: 
v=spf1 dom=barracudacentral.org a:mail.barracuda.com mx ip4:206.171.8.129/25 ip4:69.36.252.0/24 ip4:216.129.105.0/24 ip4:64.235.144.0/20 include:sendgrid.net ~all 

evaluating...
SPF record passed validation test with pySPF (Python SPF library)!
Return to SPF checking tool (clears form)

tested with http://www.kitterman.com/getspf2.py

Please find evidence of this syntax element in the SPF RFC. I don't care at all about 3-rd party tools.

specify with rfc rspamd uses for spf testing could solve more then care

RFC 7208

Specifically RFC 7208 Section 6 - https://tools.ietf.org/html/rfc7208#section-6 .  

> Unrecognized modifiers MUST be ignored no matter where, or how often, they appear in a record.  This allows implementations conforming to this document to gracefully handle records with modifiers that are defined in other specifications."

dom is a custom modifier that Barracuda is using.  Regardless of whether this is a good idea, its not a spec violation 

It seems rspamd gracefully handled it insofar as it still awarded the message `R_SPF_ALLOW` so there doesn't appear to be a problem here. But yes- it would seem the record is indeed valid.